@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

 html, body {
     background-image: url(https://image.freepik.com/vetores-gratis/papel-de-parede-de-formas-geometricas-de-design-plano_23-2148374535.jpg);
    background-color: #EDF2F8 ;
    height: 100%;

    
}

.card-mb-3 {
    display: block;
    -webkit-box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.3); 
    box-shadow: 0px 6px 11px 1px rgba(0,0,0,0.3);
    flex-wrap: wrap;
    background-color: white;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: black;
    
    justify-content: center;
    align-items: center;


}

center {
 margin: 0;
 padding-top: 200px;
}



.card-body{
    
    padding-left: 70px;
}

.card-title{
    font-size: 2rem;
    font-family: "Lato" ;
}

.card-text{
    font-size: 1.2rem;
    font-family: 'Carrois Gothic SC', sans-serif;
}
.perfil{
    padding-left: 70px;
}