*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #f4f4 ;
    
}

.card-mb-3{
    background-color: white;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: black;
}



